node_modules
test/bower_components/
test/dev.js
test/steal.js
test/steal.production.js
test/steal/
bower_components/
test/ext/
test/bower/as_config/vendor/system-bower/
test/npm-deep/node_modules/steal/
test/bower/as_config/vendor/steal/
!test/default-npm-algorithm/node_modules/
!test/nested-npm-algorithm/node_modules/
!test/nested-npm-algorithm/node_modules/some/node_modules/
!test/import-js-file/node_modules/
src/loader/loader-esnext.js
test/npm/bower/node_modules/**

!test/npm/**/node_modules
test/npm/node_modules/
test/npm/live-reload/node_modules/
test/npm/conditionals/node_modules/steal-conditional
