@logo: "../img/javascriptmvc-logo.svg";
@logoFooter: "../img/javascriptmvc-logo-grey.svg";
@logoWidth: 260px;
@pageBackground: #f0f0f0;

@brand-color-1: #484848;
@brand-color-2: #545454;
@brand-color-3: #f0f0f0;
@brand-color-4: #3b3b3b;
@brand-color-5: #706f70;
@brand-color-6: #CCCCCC;

@colorHeader: @brand-color-1;
@colorLinks: #1f54c6;
@colorCode: #f7f8c3;
@colorNav: @brand-color-1;
@colorSignature: @brand-color-1;
@colorParamsReturns: @brand-color-1;
@fontColorParamsReturns: @brand-color-3;
@colorTags: @brand-color-4;

