<h3>Documentation</h3>

    <% for(var i = 0; i < this.all_sorted.length; i++){ %>
        <%if( !(this.all_sorted[i].hide == true) ){%>
 
            <a href='../classes/<%= this.all_sorted[i].name %>.html' id='<%= this.all_sorted[i].name %>.html'>
                <%= this.get_name(i)   %>
            </a>
       
        <%}%>
    <% } %>
