<html>
    <head></head>
    <body>
        <script type="text/javascript" 
                src="../../steal/steal.js?steal[app]=<%= application_name %>&steal[env]=development"
                compress="false"></script>
    </body>
</html>
